(defnote "Hello World"
  {:slug 'hello-world
   :tags [:test]
   :public true
   :created "2026-03-20"}
  
  (preview
   "Just a note to say hello world. This is a preview of the note content."
   (media {:src "/media/graph.png" :alt "media supported in preview"}))

  :plop

  (section 'absolute
    "sempiternelle mais délicate")

  "# Hello World
   
   > coucou
   > bonjour
   
   avec plaisir, chers amis

   | hello

| hello
   

> hello'

   A minimal test note.")
